<div class="d-flex flex-column flex-md-row align-items-center pb-2 mb-2 mt-4 mt-md-0">
    <h5><a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <strong><app-header></app-header></strong>
    </a></h5>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>
 </div>

  